{
 "semi": true,
 "singleQuote": true,
 "tabWidth": 1,
 "useTabs": false,
 "trailingComma": "es5",
 "bracketSpacing": true,
 "arrowParens": "always",
 "printWidth": 80,
 "htmlWhitespaceSensitivity": "ignore",
 "proseWrap": "always"
}
